
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/bottega.jpg', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong>Instructor/TA </strong> - Working with full-time and part-time students in the development of there coding and web develonment skills
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag '', width: '100%' %>
                </div>
                <div class="">
                  <strong>Line Planing Assistant Engineer</strong> -  
                  Warehouse floor layout design,
                  Working on Special Programs to prevent unnecessary walk by Order Processors, with the goal of saving costs.
                  Monitoring availability of space in the warehouse filling floor, and maintaining sufficient room for new products. 
                  Working on Cost Efficiency projects to help lower costs, etc,
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag '', width: '100%' %>
                </div>
                <div class="">
                  <strong>Office Manager</strong> - Managed up to 10 full and part-time employees including tracking work/overtime hours and schedules, and productivity.
                  Set up new processes that reduced late work and errors by 30%.
                  Managed the development and delivery of a new employee training program and standardized manager orientation process reducing new employee orientation time by 25% 
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag '', width: '100%' %>
                </div>
                <div class= "">
                  <strong>Receiving/Shipping Clerk</strong> - Initiated a methodology to be able to accurately track employee productivity to determine if employees were working up to efficiency standards.
                  Eliminated the need for paper timecards, an average of more than one hundred employees were spending up to 30 minutes each, per day, filling out their time-cards, and this time was put back into productivity.
                </div>
              </div>
            </div>
          </div>
