
          <div class="collapse" id="education">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/school.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <p>Western Governers</p>
                  <p>Degree Name: Bachelor's Degree,</p>
                  <p>Field Of Study: Business Management</p>
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/bottega.jpg', width: '100%' %>
                </div>
                <div class="col-md-9">
                  Graduated from the Bottega Coding Bootcamp.
                </div>
              </div>
            </div>
          </div>
