<div class="container">
  <div class="row">
    <div class="col-md-4">


      <div id="f1_container">
        <div id="f1_card" class="shadow">
          <div class="front face">
            <%= image_tag "IMG_0048.JPG", width: 300, alt: "profile image", class: 'profile-img' %>
          </div>
          <div class="back face center">
            <p>I have a B.S. degree in business management</p>
            <p>I am an Instructor/TA working at Bottega.Tech, teaching students how to code Web apps with RUBY, HTML, CSS, TYPESCRIPT, ANGULAR 2, RAILS, and some other materials and topics as well..</p>
          </div>
        </div>
      </div>


     <%#= image_tag "IMG_0048.JPG", width: 300, alt: "profile image", class: 'profile-img' %>
      
    </div>
    <div class="col-md-8">

     <center><%#= render 'about_buttons' %></center>
    
        <p class="frame_hide"><fade2>I love problem solving.</fade2><fade2 class="hidden">I have a B.S. degree in business management.</fade2>
        </p>

        <p class="frame_hide"><fade1>I love problem solving, a lot of my background including my non coding experiences revolve around process improvements, and efficiencies. I have worked on many such projects including proposing and running projects that have saved companies hundreds of thousands of dollars yearly. I have taken that background and that drive and put it into my new love, coding and web development! I look forward to advancing in this field where skill, and the ability to do the work, is a main driver.</fade1><fade1 class="hidden">I have a B.S. degree in business management, and I am an Eagle Scout with over 2500 hours of volunteer hours served, (A personal goal I set as a teenager) I graduated from Bottega Tech coding bootcamp, and I am currently an instructor/TA working with students both full-time and part-time, and teaching them how to code Web apps with RUBY, HTML, CSS, TYPESCRIPT, ANGULAR 2, RAILS, and some other materials and topics as well.</fade1>
        </p>
        
    </div>
  </div>
  <!-- <div class="container">
    <div class="row"> -->
    <%#= render 'about_job_history' %>
    <%#= render 'about_education' %>
   <!--  </div>
  </div> -->
</div>


