<% content_for :nav, render('shared/home_nav') %>
<div class="inner cover">
  <h1 class="cover-heading home-fade1">Welcome to my online home</h1>
  <p class="lead home-fade2 frame_hide"><fade2>Software development is the closest concept we have to magic. <br> I really enjoy working in an environment that enables me to constantly grow, learn, and excel! <br> The ability to bring someones imagination or dream to life, to watch it grow and take a life of its own, it is a joy unto its self.  </fade2> <fade2 class="lead home-fade3 hidden"> To find out more about me <br><br>
    <%= link_to "Click Here", about_me_path, class: "home-fade5 bttn" %>
  </fade2></p> 
 
</div>

